<div class="column is-half">
  <% if user_signed_in? %>
    <article class="media box">
      <figure class="media-left">
        <p class="image is-64x64">
          <% if current_user.profile_pic.present? %>
            <%= image_tag current_user.profile_pic.url  %>
          <% else %>
            <%= image_tag 'profile.png'  %>
          <% end %>
        </p>
      </figure>
      <div class="media-content">
        <%= render 'tweeets/form' %>
      </div>
    </article>
  <% end %>

<% if !@tweeets.blank? %>
  <% @tweeets.each do | tweeet | %>
    <div class="box">
      <article class="media">
        <div class="media-left">
          <figure class="image is-64x64">
            <% if tweeet.user.profile_pic.present? %>
              <%= image_tag tweeet.user.profile_pic.url  %>
            <% else %>
              <%= image_tag 'profile.png'  %>
            <% end %>
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <strong><%= tweeet.user.name %></strong><br />
            <small><%= tweeet.user.username %></small><br />
            <p><%= tweeet.tweet %></p>
          </div>
          <% if user_signed_in? %>
            <nav class="level">
              <div class="level-left is-mobile">
                <div class="panel-block">
                  <div class="level is-mobile">
                    <% if policy(tweeet).update? %>
                      <div class="level-item has-centered-text">
                        <div>
                          <%= link_to edit_tweeet_path(tweeet), class: "level-item" do %>
                            <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                    <% if policy(tweeet).update? %>
                      <div class="level-item has-centered-text">
                        <div>
                          <%= link_to tweeet, method: :delete, data: { confirm: "Are you sure?" } do %>
                          <span class="icon" style="margin:2px;"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </nav>
          <% end %>
        </div>
      </article>
    </div>
  <% end %>
<% end %>
</div>
