<div class="column">
  <nav class="panel">
    <p class="panel-heading">Who to Follow</p>
  </nav>
  <% @can_be_followed.each do |user| %>
    <div class="panel-block" id="panel_<%= user.id %>">
      <article class="media">
        <div class="media-left">
          <figure class="image">
            <% if user.profile_pic.present? %>
              <%= image_tag user.profile_pic.url %>
            <% else %>
              <%= image_tag 'profile.png'  %>
            <% end %>
          </figure>
        </div>
        <div class="media-content">
          <div class="content" id="<%= user.id %>">
            <p>
              <strong><%= user.name %></strong><br />
              <small><%= user.username %></small>
            </p>
            <p>
              <%= button_tag 'Follow', class: 'follow' %>
            </p>
          </div>
        </div>
      </article>
    </div>
  <% end %>
</div>
